.container {
    /* position: relative; */
    /* right: 5px;
    left: auto;
    height: 100%;
    width: 100%; */
    max-width: 2000px;   
}
.module {
    height: 30VW;
    max-height: 40vw;
    width: 32vw;
    float: left;
    margin-bottom: 30px;
    margin-left: 5px;
   box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); 
 
}
.module:hover{
    box-shadow:inset 0 0 10px #000000; 
}
.module>img{
    height: auto;
    max-width:10vw;
    font-size: 2vw;
    
}
.title {

    width: AUTO;
    max-width: 3000PX;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

    
}
.titleContainer{
    
    position: relative;
    bottom: 276px;
    left: 209px;
    width: 350px;
    
    overflow: hidden;

}
.desc{
    position: relative;
    bottom:259px;
    height: 120px;
    font-size: 25px;

    overflow: hidden;
    
}
.button {
    position: relative;
    left: 3px;
    bottom: 249px;
    height: 30px;
    width: 122px;
    background: #4aa3ff;
    border: 1px solid #4aa3ff;
}